@font-face {
  font-family: "Parkinsans";
  src: url("Parkinsans-VariableFont_wght.ttf") format("truetype");
}
body {
  font-family: Parkinsans;
  margin: 0;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;
}
a:hover, a:active, a:visited, a:link, a:focus {
  color: inherit;
}

menu,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  padding: 0;
  margin: 0;
}

.card {
  border-radius: 1rem;
  border: 2px solid red;
  padding: 0.5rem;
  overflow: hidden;
}

.hidden {
  display: none;
}

.pattern-list {
  display: flex;
}

.menu {
  position: relative;
  padding: 1em 2em;
}

button {
  background-color: black;
  border-radius: 1000px;
  color: white;
  padding: 0.75em;
  border: 0px;
}

.right-button {
  direction: rtl;
}

.all-patterns-list {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em;
}
.all-patterns-list > a {
  flex: 0 1 18%;
  margin-bottom: 1em;
}

#landing-screen > section:nth-child(odd) {
  background-color: lightgray;
}

#landing-screen > section:nth-child(even) {
  background-color: gray;
}

.slider-holder {
  position: relative;
  padding: 30px;
}
.slider-holder > p {
  font-weight: bold;
}
.slider-holder > .slider {
  display: flex;
  gap: 3rem;
}
.slider-holder > .slider > * {
  flex: 0 0 100%;
}
.slider-holder > button {
  position: absolute;
  height: 50px;
  width: 25px;
  top: calc(50% - 25px);
  z-index: 999999;
  background-color: white;
  border: 2px solid lightgray;
  padding: 0;
}
.slider-holder > button svg {
  position: absolute;
  width: 15px;
  height: 15px;
  top: calc(50% - 7.5px);
  left: calc(50% - 7.5px);
}
.slider-holder > button.slider-back {
  left: 0px;
  border-radius: 0 999px 999px 0;
  border-left-width: 0;
}
.slider-holder > button.slider-forward {
  right: 0px;
  border-radius: 999px 0 0 999px;
  border-right-width: 0;
}

#site-header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
#site-header h2, #site-header h3, #site-header h4 {
  margin: 0 10px;
  display: inline;
}

#header-logo {
  color: yellow;
}

.pattern-card {
  padding: 1em;
  text-align: center;
  background-color: lightgray;
  border-radius: 1em;
}
.pattern-card > img {
  width: 100%;
}

.pattern-search-menu {
  width: 80%;
  margin: auto;
  border-radius: 1em;
  background-color: white;
}
.pattern-search-menu > h4 {
  text-align: center;
}

.pattern-search-filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75em;
  gap: 20px;
}
.pattern-search-filters > * {
  flex: 1 0 20%;
}

.loading-screen {
  margin: auto;
  width: 80%;
  min-width: 600px;
}
.loading-screen .pinwheel {
  margin: auto;
  width: 100px;
}

.gauge-flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.gauge-flex > .gauge-holder,
.gauge-flex > .gauge-sts {
  flex-basis: 66%;
}
.gauge-flex > div.gauge-rows {
  flex-basis: 33%;
  position: relative;
}
.gauge-flex > div.gauge-rows > p {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

#landing-patterns {
  padding: 1em;
}

#landing-patterns-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.75em;
}
#landing-patterns-list > a {
  flex: 0 1 20%;
}

.landing-header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}
.landing-header > .landing-header-hero {
  flex: 0.5;
}
.landing-header > .landing-header-image {
  flex: 0.2;
}
.landing-header > .landing-header-image > img {
  width: 100%;
}

#landing-search {
  padding: 1em;
}

#to-all-patterns {
  text-align: right;
}
#to-all-patterns > a {
  text-decoration: underline;
}

.interactive-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1px 0 0 1px;
}

.hero-images {
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid black;
}
.hero-images > .hero-image-holder {
  height: 40vh;
  min-height: 200px;
  align-items: center;
  display: flex;
}
.hero-images > .hero-image-holder > div {
  flex: 1 0 30%;
}
.hero-images > .hero-image-holder > div > img {
  width: 100%;
  object-fit: cover;
}

.hero-image-shadow {
  height: 25%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  position: absolute;
  bottom: 0;
}
.hero-image-shadow > button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#landing-help {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.pattern-detail {
  padding: 2em;
  border-bottom: 2px solid black;
}

.landing-section {
  border: 1px solid lightblue;
  border-radius: 1rem;
  padding: 1rem;
  flex: 0.25;
  box-shadow: 10px 5px 10px rgba(173, 216, 230, 0.35);
}
.landing-section > section {
  text-align: center;
}
.landing-section > div {
  flex: 0.75;
}

.pattern-overview {
  display: flex;
  padding: 4em 2em;
  border-bottom: 2px solid black;
}

.pattern-overview-text {
  flex: 1 0 85%;
}

.pattern-overview-button {
  flex: 1 0 15%;
}
.pattern-overview-button > button {
  width: 100%;
}

.rating-box > div {
  overflow: hidden;
  display: flex;
}
.rating-box > div > svg {
  stroke: black;
  flex: 1 0 20px;
}

.drop-down {
  border-bottom: 2px solid black;
  position: relative;
}

.dd-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dd-box > svg {
  flex: 0 0 2em;
}
.dd-box .dd-label-box {
  display: flex;
  flex-direction: column;
}

.dd-menu {
  max-height: 0px;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  top: calc(100% + 2px);
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 10px 5px 10px rgba(103, 103, 103, 0.35);
  z-index: 100;
}
.dd-menu li {
  padding: 0 1em;
}
.dd-menu li:hover {
  background-color: lightgray;
}

.gauge-square {
  border: 3px solid black;
}

.interactive-grid-row {
  display: flex;
}

.interactive-grid-cell {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
  margin: -1px 0 0 -1px;
  height: 0px;
}

.cell-holder {
  position: relative;
}

.cell-aspect {
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.interactive-grid-cell-symbols {
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
}

.section-header {
  background-color: palegoldenrod;
  border-radius: 9999px;
  width: fit-content;
  padding: 0.75em;
  display: flex;
  gap: 10px;
}
.section-header > svg {
  stroke: black;
  display: inline;
  width: 20px;
}

.material-card {
  border: 1px solid goldenrod;
  border-radius: 2em;
  padding: 0.5em;
}

.pattern-detail {
  padding: 2em;
  border-bottom: 2px solid black;
}

.material-card-holder {
  display: flex;
  gap: 1em;
  overflow-y: scroll;
  padding: 1em 0;
}
.material-card-holder > .material-card {
  flex: 0 0 200px;
}