@font-face {
  font-family: "Parkinsans";
  src: url("Parkinsans-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: Parkinsans;
  margin: 0;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 12px;
}

.card {
  border-radius: 1rem;
  border: 2px solid red;
  padding: 0.5rem;
}
