@font-face {
  font-family: "Parkinsans";
  src: url("Parkinsans-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: Parkinsans;
  margin: 0;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;

  &:hover,
  &:active,
  &:visited,
  &:link,
  &:focus {
    color: inherit;
  }
}

menu,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  padding: 0;
  margin: 0;
}

.card {
  border-radius: 1rem;
  border: 2px solid red;
  padding: 0.5rem;
  overflow: hidden;
}

.hidden {
  display: none;
}

.pattern-list {
  display: flex;
}

.menu {
  position: relative;
  padding: 1em 2em;
}

button {
  background-color: black;
  border-radius: 1000px;
  color: white;
  padding: 0.75em;
  border: 0px;
}

.right-button {
  direction: rtl;
}
